* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    float: left;
    padding: 33px 20px;
}

.logo-utama {
    float: left;
    padding: left;
    padding-top: 10px;
    padding-left: 10px;
}

.header {
    height: 90px;
}

.header-logo {
    color: #fcd535;
    letter-spacing: 2px;
    float: left;
    font-size: 30px;
    padding-top: 17px;
    padding-left: 10px;
    font-family: 'Righteous', cursive;
}

.header-list {
    float: right;
    padding: 33px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {

    padding: 80px;
    height: 800px;
}

.footer {
    background-color: #fcd535;
    color: black;
    height: 95px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-logo {
    font-size: 32px;
    float: left;
    padding-top: 40px;
}

.footer-list {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    ;
}

.footer-list li {
    padding-bottom: 20px;
}


.copy-container h2 {
    font-size: 33px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contents {
    height: 350px;
}

.contents-item {

    width: 500px;
    height: 400px;


}

.aboutus {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;

}

.dark-mode a {

    color: white;

}
.warna{
    color: black;
}


html {
    transition: background-color 0.9s;
}

.dark-mode {
    background: black;
    color: white;
}

.light-mode {
    background: white;
    color: black;
}

.toggle {
    float: right;
    width: 45px;
    height: 25px;
    margin: 31px 25px;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    background: #f8f3e3;
    color: black;
}

.circle {
    width: 20px;
    height: 20px;
    transform: translateX(2px);
    border-radius: 30px;
    transition: 0.4s;
    position: absolute;
    background: #fcd535;
}

.dark-mode .circle {
    transform: translateX(23px)
}

.toggle-moon, .toggle-sun {
    width: 50%;
}


.submit-button {
    background-color: #fcd535; 
    width: 100px;
    height: 35px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: left;
    font-size: 16px;
  }

.form{
    width: 100px;
    height: 35px;
    margin: 20px 50px;
}